@import '~node_modules/modern-normalize/modern-normalize.css';


html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--primary-background-color);
    color: var(--primary-black-color);
    font-family: var(--alt-font), var(--alt-title-font);
    font-size: 14px;
    letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 1.6em;
    letter-spacing: normal;
    color: var(--primary-black-color);
    text-decoration: none;
    transition: color var(--time-animation) var(--timing-function);
}