:root {
    --primary-white-color: #ffffff;
    --alt-white-color: #FCFCFC;
    --primary-black-color: #131313;
    --text-color: #000000;
    --alt-text-color: #D6936D;
    --primary-background-color: #84A178;
    --alt-background-color-yelow: #EFD478;
    --primary-yelow-color: #F8D24E;
    --time-color: #ABABAB;
    --alt-background-color: ;
    --dark-background-color: ;
    --alt-dark-background-color: ;
    --accent-color: ;
    --card-gap: ;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time-animation: 250ms;
    --primary-title-font: Seymour One;
    --alt-title-font: sans-serif;
    --alt-font: Montserrat;
}