.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding-left: var(--card-gap);
    padding-right: var(--card-gap);
    background-color: rgba(0, 0, 0, .2);
    opacity: 1;
    transition: opacity var(--time-animation) var(--timing-function);
    z-index: 1001;

    &.is-hidden {
        visibility: inherit;
        opacity: 0;
        pointer-events: none;
    }
}

.modal-thumb {
    position: relative;
}

.modal {
    max-width: 280px;
    width: calc(100% - 40px);
    max-height: 100%;
    height: auto;
    padding: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--alt-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid var(--primary-yelow-color);
    overflow-y: scroll;

    transition: transform var(--time-animation) var(--timing-function);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.modal__btn-close {
    display: block;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: inherit;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.modal__icon-close {
    fill: #131313;
}

.modal-title {
    font-family: var(--primary-title-font);
    font-size: 16px;
    line-height: 1.5em;
}

@media screen and (min-width: 768px) {
    .modal {
        max-width: 568px;
        width: 100%;
        padding: 32px 60px;
    }

    .modal__btn-close {
        width: 24px;
        height: 24px;
    }

    .modal-title {
        font-size: 20px;
        line-height: 1.4em;    
    }
}