.header {
   position: relative;
   border: 1px solid tomato;
}

.header-nav {
   display: flex;
   justify-content: space-between;
   padding-top: 12px;
   padding-bottom: 50px;
}

.mobile-menu-btn{
   background-color: var(--primary-background-color);
   padding: 0;
   border: none;
   width: 32px;
   height: 32px;
}

.mobile-menu__icon {
   width: 32px;
   height: 32px;
}

.header-title {
   max-width: 247px;
   font-size: 26px;
   font-weight: 400;
   letter-spacing: 1.04px;
   font-family: var(--primary-title-font); 
   color: var(--alt-white-color);
   background-color: var(--primary-background-color);
   text-transform: uppercase;
   padding-bottom: 32px;
}

.header-title__passion {
   font-size: 34px;
   font-weight: 400;
   line-height: 0.96%;
}

.header-btn-list {
   display: flex;
   padding-bottom: 237px;
}

.header-points__img{
   max-width: 320px;
   position: absolute;
   bottom: 0;
   right: 0%;
}

.header-ice-cream__img {
   max-width: 177px;
   position: absolute;
   bottom: 0;
   right: 60px;
   
}

.header-btn__products,
.header-btn__made {
   color: var(--text-color);
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 600;
   background-color: var(--primary-background-color);
   width: 108px;
   height: 38px;
   border-radius: 8px;
   border: 2px solid var(--primary-yelow-color);
}

.header-btn__made {
   color: var(--primary-yelow-color);
   text-decoration-line: underline;
   width: 118px;
   margin-left: 4px;
   border: none;
}