.products {
   
    background-color: var(--alt-white-color);
    background-image: url("./../images/products_bacgr_mob.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.products-title__thumb {
   
    text-align: center;
    
}

.products-title__label {
    font-size: 18px;
    font-weight: 800;
    
}

.products-title {
    font-family: var(--primary-title-font);
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.08em;
    margin-top: 12px;
    margin-bottom: 148px;
}

.products-list {
    width: 100%;

    .products-card+.products-card {
        margin-top: 165px;
    }

}

.products-card {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 16px;
    text-align: center;
    max-width: 320px;
    height: 420px;
    border-radius: 24px;
    
}

.card-icecream {
    background-color: var(--alt-background-color-green);  
}

.card-icecoffee {
    background-color: var(--alt-background-color-yelow);  
}

.card-milkshakes {
    background-color: var(--alt-text-color);
}

.products-card::before {
    display: block;
    content: "";
    width: 200px;
    height: 211px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    background-position: center;
    background-size: 114%;
}

.card-icecream::before {
    background-image: url("./../images/products_ice_cream_mob_tab.png");
    
}

.card-icecoffee::before {
    background-image: url("./../images/products_ice_coffee_mob_tab.png");
}

.card-milkshakes::before {
    background-image: url("./../images/products_milkshakes_mob_tab.png");
}

.products-card__title {
    margin-top: -105px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    
}

.products-card__text {
    margin-bottom: 68px;
    height: 148px;
    font-weight: 400;
    line-height: 176%;
    letter-spacing: 0.56px;
}

.products-arrow__icon {
    width: 40px;
    height: 16px;
}